h1 {
    color: rgb(150, 14, 59);
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    width: 80%;
}

main p {
    font-size: 1.5em;
    color: #333;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
}